.stars input{
  display: none;
}
.stars label{
  font-size: 40px;
  color: lightgrey;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #000;
}
.stars__color label {
  color: gold;
  text-shadow: 1px 1px #000;
}
.section__antal__textitems p {
  margin-bottom: 15px;
}
.section__beskrivelse__textitems p {
  margin-bottom: 15px;
}
.img__icon__size {
  height: 60px;
}
.othersrate__icon__size {
  height: 32px;
  width: 32px;
}
.list__item {
  background-color: #68BC95;
  color: white;
  font-size: .875rem;
  border-radius: 5px;
}
.list__item img {
  height: 15px;
  width: 15px;
  color: white;
}