.list__items {
  background-color: #55795A;
  color: white;
  font-size: .875rem;
  border-radius: 5px;
}

.opskrift__billede{
  border-radius: 15px !important;
}

.opskrift__info p {
  font-weight: 500;
}