.main__profile__pic {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-image: url('../img/placeholder-profile.webp');
  background-position: center;
  background-size: cover;
}

.list__items {
  background-color: #55795A;
  color: white;
  font-size: .875rem;
  border-radius: 5px;
}

.titel--icon {
  height: 25px;
  width: 25px;
}

.opskrift__info p {
  font-weight: 500;
}